!!!
%html
  %head
    %title Cobblr - Email Footer Cobbling
    %link{ :href=>'http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:700,400italic,700italic', :rel=>'stylesheet', :type=>'text/css'}
    %link{ rel: "stylesheet", type: "text/css", href: "/style.css" }
  %body
    %header
      %h1
        %span Cobblr
    %h2{:style=>"text-align: center;"} Select your weapon of choice
    %ul.group
      %li.l
        Generate footer for:
        %br
        %a{:href=>"/tbg"} The Beans Group
        %br
        %a{:href=>"/hexjam"} Hexjam
      %li.r
        Generate footer for:
        %br
        %a{:href=>"/vxb"} Voxburner
        %br
        %a{:href=>"/sbn"} SBN
